* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 3rem;
    font-size: 4rem;
    background-color: brown;
    color: wheat;
    width: 75%;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

main {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(165, 42, 42, 0.335);
    padding: 8rem 3rem;
    margin-top: -5rem;
}

.text-box {
    width: 100%;
    height: 30vh;
}


img {
    width: 200px;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
    float: right;
}



.footer {
    display: block;
    width: 75%;
    margin: 0 auto;
    background-color: brown;
    text-align: center;
    color: wheat;
    padding: 3rem;
}